envs/
MedLLM-old/
PMC-LLaMA/models
PMC-LLaMA/data
PMC-LLaMA/results/7B
PMC-LLaMA/results/7B_10_epoch
PMC-LLaMA/results/13B
PMC-LLaMA/results/inferenced_result_dir
PMC-LLaMA/results/Test
PMC-LLaMA/env
PMC-LLaMA/cached_data
slurm_scripts/
*.pyc